@font-face {
  font-family: BagnardRegular;
  src: url("./assets/fonts/BagnardRegular.otf") format("opentype");
}

@font-face {
  font-family: OfficeCodePro;
  src: url("./assets/fonts/OfficeCodePro-Light.otf") format("opentype");
}

body {
  font-family: OfficeCodePro, monospace;
  background-color: #1e1e2e;
  color: #cdd6f4;
  margin: 10px;
}

.header {
  font-family: BagnardRegular, serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

#sidebar {
  width: max(15vw, 300px);
  height: calc(100vh - 100px);
  padding: 20px;
  margin: 0px;
}

#content {
  padding: 20px;
  width: max(40vw, 600px);
  line-height: 1.65em;
}

.header {
    line-height: 1.15em;
}

#page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #11111b;
  padding: 18px;
  margin: 0px;
  border: 2px solid #89dceb;
  border-radius: 15px;
}

#pfp {
  width: calc(max(15vw, 300px) / 1.15);
  clip-path: circle(45%);
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #181825;
}

@keyframes fade-in {
  from {
    background-color: #1e1e2e;
    color: #89dceb;
    text-decoration: none;
  }
  to {
    background-color: #89dceb;
    color: #1e1e2e;
    text-decoration: underline;
  }
}

@keyframes fade-out {
  from {
    background-color: #89dceb;
    color: #1e1e2e;
    text-decoration: underline;
  }
  to {
    background-color: #1e1e2e;
    color: #89dceb;
    text-decoration: none;
  }
}
a {
  color: #89dceb;
  font-style: italic;
  text-decoration: none;
  animation-name: fade-out;
  animation-duration: 0.5s;
}

a:visited {
  color: #b4befe;
}

a:hover {
  text-decoration: underline;
  background-color: #89dceb;
  color: #1e1e2e;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

hr {
  border-top: 0.1em solid #cdd6f4;
  border-bottom: 0.1em solid #cdd6f4;
  height: 1px;
  margin: auto;
  width: 50%;
}

.caption {
  font-style: italic;
  font-size: 0.8em;
  text-align: center;
  width: 50%;
  margin: auto;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#pages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6.6vh;
  margin: 20px auto;
  text-align: center;
}

#pages a,
#name {
  font-style: normal;
  color: #cdd6f4;
  text-decoration: none;
  animation-name: none;
}

#pages a:hover,
#name:hover {
  text-decoration: underline;
  background-color: #11111b;
  color: #cdd6f4;
  animation-name: none;
}

#pages a:visited:hover,
#name:visited:hover {
  text-decoration: underline;
  background-color: #11111b;
  color: #cdd6f4;
}

#quote {
  font-style: italic;
  text-align: center;
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: solid 1px white;
  font-size: 1.2em;
}

p,
li {
  font-size: 1.2em;
}

#footer {
  display: none;
}

@media screen and (max-width: 720px) {
  #page {
    flex-direction: column;
  }
  #content {
    width: calc(100% - 40px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #sidebar {
    display: none;
  }
  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
  }
}
